.header {
    background: #1F2937;
    padding-left: 80px;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    height: 100px;
 
}

.nav {
    display: flex;
    margin: 20px;
    margin-right: 250px;
   
   
}

.Introduction {

    display: flex;
    background: #1F2937;
    height: 450px;
    align-items: center;
    
    
}

#intro_image {
    border-radius: 5%;
    margin-left: 250px;
}

.Introduction_left {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    justify-content: space-between;
    
}

#intro_title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    
       

}

#intro_subheading {
    
    font-size: 18px;
    color: #E5E7EB;
    
    
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#exploreButton {
    background-color: #3882F6;
    width: 150px;
    height: 35px;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 17px;
    border-radius: 8px;
    margin-top: 15px;
}

#features_title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 60px;
    margin-bottom: 100px;
    
    
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 30px;
    font-size: 18px;
    color: #1f1d1d;
    font-weight: 550;
        
}

.gallery {
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;
    padding: 10px;
    border-color: rgb(165, 64, 185);
}

.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
    
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    max-width: 750px;
}

#skull {
    margin-left: 250px;
}

.signup {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    background-color: #3882F6;
    width: 1300px;
    height: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

}

#background_title {
    color: #F9FAF8

}

#background_info {
    color: #E5E7EB;
}

#s_button {
    background-color: #3882F6;
    border-color: #ffffff;
    width: 150px;
    height: 35px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 17px;
    border-radius: 8px;
    border-width: 2.5px;
    border-style: solid;
    box-shadow: none;
    
    
}

.footer {
    height: 100px;
    background-color: #1F2937;
    color: #ffffff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#outro {
    font-weight: lighter;
}



